.image-9-icon2 {
  height: 51.7px;
  width: 182px;
  position: relative;
  object-fit: cover;
}
.header-text2 {
  position: relative;
  white-space: nowrap;
}
.header-text-frame,
.image-9-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-text-frame {
  flex-direction: column;
  padding: 11.4px 0 0;
}
.image-9-container {
  flex-direction: row;
  gap: 35px;
  max-width: 100%;
}
.selamat-datang-admin2 {
  position: relative;
  font-weight: 300;
  white-space: nowrap;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.logout-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logout-button2 {
  height: 30px;
  width: 38px;
  position: relative;
}
.greeting,
.header-image,
.header2 {
  display: flex;
  align-items: flex-start;
}
.header-image {
  flex-direction: row;
  justify-content: flex-start;
  gap: 29px;
}
.greeting,
.header2 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 10.8px;
  font-size: 20px;
  color: #000;
}
.header2 {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 24.1px 52px 24.2px 51px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 24px;
  color: #3f7cbd;
  font-family: Inter;
}
.vector-icon3 {
  width: 22px;
  height: 16px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0 0;
}
.detail2 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 57px;
}
.frame-parent10 {
  border-radius: 12px;
  border: 1px solid #3f7cbd;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px 18px;
  gap: 7px;
}
.tablerreport-icon1 {
  height: 24px;
  width: 24.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.report-condition1 {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.tombol-report-condition-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}
.tombol-report-condition1 {
  cursor: pointer;
  border: 0;
  padding: 13px 27px 13px 36px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 7.1px;
}
.tombol-photos1:hover,
.tombol-report-condition1:hover {
  border: 1px solid #3f7cbd;
  box-sizing: border-box;
}
.material-symbols-lightadd-to-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.photos1 {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 67px;
}
.frame-parent9,
.tombol-photos1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tombol-photos1 {
  cursor: pointer;
  border: 0;
  padding: 13px 22px;
  background-color: transparent;
  border-radius: 12px;
  gap: 7px;
}
.frame-parent9 {
  max-width: 100%;
  row-gap: 20px;
  color: #3f7cbd;
}
.detail3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 55px;
}
.head1 {
  align-self: stretch;
  background-color: rgba(63, 124, 189, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.container1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.container {
  position: relative;
  font-weight: 500;
}
.data-rows {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.nando {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 60px;
}
.data-1,
.row-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.row-data {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.bill-of-lading {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.bill-of-lading-container {
  position: relative;
  font-weight: 500;
}
.bill-of-lading-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.andri {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.andri-wrapper,
.data-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.andri-wrapper {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.consignee1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.consignee {
  position: relative;
  font-weight: 500;
}
.consignee-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.fahri {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
}
.data-3,
.fahri-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.fahri-wrapper {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.qty1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.qty {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 76px;
}
.qty-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.div {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.data-4,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.wrapper {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-4 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.volume1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.volume {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
}
.volume-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.div1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.data-5,
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frame {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-5 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.date1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.date {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 86px;
}
.date-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.div2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 102px;
}
.data-6,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.wrapper1 {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  padding: 15.5px 20px 14px 0;
  min-width: 454px;
}
.data-6 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.status1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 27px;
}
.status {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 103px;
}
.status-wrapper {
  width: 204px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15.5px 20px 14px 0;
}
.picked-up2 {
  width: 94px;
  height: 24px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 94px;
  padding: 0;
}
.data-7,
.data-list,
.picked-up-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.picked-up-wrapper {
  flex: 1;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 15.5px 0 14px;
  min-width: 454px;
}
.data-7,
.data-list {
  align-self: stretch;
}
.data-7 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}
.data-list {
  flex-direction: column;
  justify-content: flex-start;
}
.footer-icon,
.frame-parent8 {
  max-width: 100%;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent8 {
  width: 903px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.footer-icon {
  flex: 1;
  position: relative;
  overflow: clip;
  max-height: unset;
}
.footer-icon-wrapper,
.frame-parent7 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.footer-icon-wrapper {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2px 0 0;
  flex-shrink: 0;
}
.frame-parent7 {
  height: 665px;
  width: 1041px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 154px;
  gap: 248px;
}
.footer,
.halaman-detail {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.footer {
  width: 1301px;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
}
.halaman-detail {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1px;
  gap: 45px;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .frame-parent7 {
    gap: 124px;
  }
}
@media screen and (max-width: 975px) {
  .frame-parent7 {
    padding-bottom: 100px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .header2 {
    padding-left: 25px;
    padding-right: 26px;
    box-sizing: border-box;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .andri-wrapper,
  .fahri-wrapper,
  .frame,
  .picked-up-wrapper,
  .row-data,
  .wrapper,
  .wrapper1 {
    min-width: 100%;
  }
  .frame-parent7 {
    height: auto;
    gap: 62px;
  }
  .halaman-detail {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .image-9-container {
    gap: 17px;
  }
  .andri,
  .bill-of-lading-container,
  .consignee,
  .container,
  .date,
  .detail2,
  .detail3,
  .div,
  .div1,
  .div2,
  .fahri,
  .nando,
  .photos1,
  .picked-up2,
  .qty,
  .report-condition1,
  .status,
  .volume {
    font-size: 16px;
  }
  .frame-parent7 {
    gap: 31px;
  }
}
