.image-10-icon1 {
  width: 150.9px;
  position: relative;
  height: 42.8px;
  object-fit: cover;
}
.welcome-back-please1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
}
.frame-header1 {
  width: 314.9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40.1px;
}
.username-or-email1 {
  cursor: pointer;
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.input-username-email1 {
  border: 0;
  outline: 0;
  background-color: var(--color-steelblue-200);
  align-self: stretch;
  position: relative;
  border-bottom: 0.6px solid var(--color-steelblue-100);
  box-sizing: border-box;
  height: 29.3px;
}
.input-form1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11.4px;
}
.sign-in1 {
  position: relative;
  font-size: var(--font-size-base-3);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.content1,
.frame-inputsign-in1,
.tombol-sign-in1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tombol-sign-in1 {
  cursor: pointer;
  border: 0;
  padding: 7.6px 43.9px;
  background-color: var(--color-steelblue-100);
  width: 137.8px;
  border-radius: 22.26px;
  flex-direction: row;
  box-sizing: border-box;
}
.tombol-sign-in1:hover {
  background-color: var(--color-darkslateblue);
}
.content1,
.frame-inputsign-in1 {
  flex-direction: column;
}
.frame-inputsign-in1 {
  width: 382.3px;
  overflow: hidden;
  gap: 50px;
  text-align: left;
  font-size: var(--font-size-smi-7);
  color: var(--color-gray);
}
.content1 {
  gap: 66.8px;
}
.icon1 {
  width: 509px;
  position: relative;
  height: 542px;
  object-fit: cover;
}
.login-page {
  width: 100%;
  position: fixed;
  background-color: var(--color-white);
  height: 810px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
  font-size: var(--font-size-base-3);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
