<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./halaman-detail-fixed.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap"
    />
  </head>
  <body>
    <div class="halaman-detail-fixed">
      <header class="header2">
        <div class="header-image">
          <img
            class="image-9-icon2"
            loading="lazy"
            alt=""
            src="./public/image-91@2x.png"
          />

          <div class="header-title">
            <a class="header-text2">Detail Tracking</a>
          </div>
        </div>
        <div class="admin-welcome">
          <div class="welcome-message">
            <div class="greeting">
              <div class="selamat-datang-admin2">Selamat datang, Admin!</div>
            </div>
            <button class="tombol-logout2">
              <img
                class="logout-icon"
                loading="lazy"
                alt=""
                src="./public/vector.svg"
              />
            </button>
          </div>
        </div>
      </header>
      <section class="content2">
        <div class="data-table-parent">
          <form class="data-table">
            <div class="table-header">
              <button class="tombol-detail2">
                <div class="detail-icon">
                  <img class="view-icon" alt="" src="./public/vector1.svg" />
                </div>
                <div class="detail2">Detail</div>
                <div class="tombol-detail-inner"></div>
              </button>
              <button class="tombol-report-condition2">
                <img
                  class="tablerreport-icon2"
                  loading="lazy"
                  alt=""
                  src="./public/tablerreport.svg"
                />

                <div class="report-condition2">Report Condition</div>
                <div class="tombol-report-condition-inner"></div>
              </button>
              <button class="tombol-photos2">
                <img
                  class="material-symbols-lightadd-to-icon2"
                  alt=""
                  src="./public/materialsymbolslightaddtophotosrounded.svg"
                />

                <div class="photos2">Photos</div>
                <div class="tombol-photos-inner"></div>
              </button>
              <div class="divider"></div>
            </div>
            <div class="head">
              <div class="detail3">Detail</div>
            </div>
            <div class="data-list">
              <div class="data-1">
                <div class="data-rows">
                  <div class="container">
                    <ol class="container1">
                      <li>Container :</li>
                    </ol>
                  </div>
                </div>
                <div class="row-data">
                  <div class="nando">nando</div>
                </div>
              </div>
              <div class="data-2">
                <div class="bill-of-lading-wrapper">
                  <div class="bill-of-lading-container">
                    <ol class="bill-of-lading">
                      <li>Bill of Lading :</li>
                    </ol>
                  </div>
                </div>
                <div class="andri-wrapper">
                  <div class="andri">andri</div>
                </div>
              </div>
              <div class="data-3">
                <div class="consignee-wrapper">
                  <div class="consignee">
                    <ol class="consignee1">
                      <li>Consignee :</li>
                    </ol>
                  </div>
                </div>
                <div class="fahri-wrapper">
                  <div class="fahri">fahri</div>
                </div>
              </div>
              <div class="data-4">
                <div class="qty-wrapper">
                  <div class="qty">
                    <ol class="qty1">
                      <li>Qty :</li>
                    </ol>
                  </div>
                </div>
                <div class="frame-div">
                  <div class="div2">00988</div>
                </div>
              </div>
              <div class="data-5">
                <div class="volume-wrapper">
                  <div class="volume">
                    <ol class="volume1">
                      <li>Volume :</li>
                    </ol>
                  </div>
                </div>
                <div class="wrapper1">
                  <div class="div3">21834</div>
                </div>
              </div>
              <div class="data-6">
                <div class="date-wrapper">
                  <div class="date">
                    <ol class="date1">
                      <li>Date :</li>
                    </ol>
                  </div>
                </div>
                <div class="wrapper2">
                  <div class="div4">27/5/2024</div>
                </div>
              </div>
              <div class="data-7">
                <div class="status-wrapper">
                  <div class="status">
                    <ol class="status1">
                      <li>Status :</li>
                    </ol>
                  </div>
                </div>
                <div class="picked-up-wrapper">
                  <label class="picked-up">picked up</label>
                </div>
              </div>
            </div>
          </form>
          <div class="footer">
            <img class="footer-icon" alt="" src="./public/vector-15.svg" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
